body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#row-cost-calculation .row :nth-child(1) {
  text-align: right;
}

#row-cost-calculation .row :nth-child(2) {
  text-align: left;
}

#state-change-button-container {
  padding-bottom: 10px;
}

#state-change-button-container .col:nth-child(1) {
  text-align: left;
}

#state-change-button-container .col:nth-child(2) {
  text-align: right;
}

#info-svg {
  margin-left: 5px;
}